@{
    ViewData["Title"] = "Home";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Bookstore</h1>
        <p class="lead text-muted">
            Presented by Pranjal Gain
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search book</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top books</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" src="~/images/logo.jpeg" />
                    <div class="card-body">
                        <p class="card-text">Desc</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View content</a>
                            </div>
                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" src="~/images/logo.jpeg" />
                    <div class="card-body">
                        <p class="card-text">Desc</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View content</a>
                            </div>
                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" src="~/images/logo.jpeg" />
                    <div class="card-body">
                        <p class="card-text">Desc</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View content</a>
                            </div>
                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*@section alert {
        <script>
            $(document).ready(function () {
                alert("Page is loaded");
            })
        </script>
    } *@